.pendu {
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  user-select: none;
}

.word-to-guess {
  /* border: 2px solid black; */
  font-size: 3em;
  width: calc(100% - 0.4em);
  margin: 1em;
  text-align: center;
  font-family: Menlo, Monaco, Consolas, Inconsolata, 'Courier New', monospace;
}

.letterButton {
  font-size: 2em;
  flex: 1 1 calc(100% / 12 - 0.5em);
  outline: 0.08em solid silver;
  margin: 0.1em;
  display: flex;
  cursor: default;
}

.letterButton.true {
  background: silver;
}

.letter{
  margin: auto;
}

.guesses {
  /* border: 2px solid black; */
  font-size: 1.5em;
  margin: 1em;
  width: calc(100% - 0.4em);
  text-align: right;
  font-family: Menlo, Monaco, Consolas, Inconsolata, 'Courier New', monospace;
}

.end-message {
  /* border: 2px solid black; */
  font-size: 2em;
  width: calc(100% - 0.4em);
  margin: auto;
  text-align: center;
  font-family: Menlo, Monaco, Consolas, Inconsolata, 'Courier New', monospace;
}

.reset-button {
  font-size: 2em;
  padding: 15px 40px 15px 40px;
  text-align: center;
  width: 50%;
  min-width: 200px;
  margin: 0.5em auto 0.5em auto;
  outline: 0.08em solid silver;
  background: rgb(238, 167, 167);
}
